       *{
            margin: 0px;
            padding: 0px;
        }
        .container ul
        {
            font-family: 'Poppins', sans-serif;
            list-style: none;
        }
        .container ul li{
            font-family: 'Poppins', sans-serif;
            border-radius: 10px;
            background-color:lightgrey;
            width:200px;
            border: 1px solid white;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: white;
            font-size: 18px;
        }
        .container ul li:hover{
            background-color:greenyellow;
        }
        .container ul ul{
            display: none;
        }
        .container ul li:hover > ul{
            display: block;
        
        }
        }
#line{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-style: solid;
}